body{   	
	background-color: #2762b0; 
	margin: 0 auto;
	padding: 0;	
}

#principal{
	background-color:#fff opacity: 0.4; 
	position: absolute;
	top: 40%; 
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height:auto;

}