@font-face  {

font-family: beach;
src:url(../fonts/beach.ttf);
}

@font-face  {

font-family: new;
src:url(../fonts/new.ttf);
}

@font-face  {

font-family: aldo;
src:url(../fonts/aldo.ttf);
}

@font-face  {

font-family: game_over;
src:url(../fonts/game_over.ttf);
}

@font-face  {

font-family: minecraft;
src:url(../fonts/minecraft.ttf);
}

@font-face  {

font-family: squared;
src:url(../fonts/squared.ttf);
}

@font-face  {

font-family: young;
src:url(../fonts/young.ttf);
}


@font-face  {

font-family: BREAK;
src:url(../fonts/BREAK.ttf);
}

@font-face  {

font-family: HACKED;
src:url(../fonts/HACKED.ttf);
}

@font-face  {

font-family: Crash;
src:url(../fonts/Crash.ttf);
}

@font-face  {

font-family:hip ;
src:url(../fonts/hip.ttf);
}


@font-face  {

font-family:levi ;
src:url(../fonts/levi.ttf);
}

@font-face  {

font-family:hanged ;
src:url(../fonts/hanged.ttf);
}

@font-face  {

font-family:movie ;
src:url(../fonts/movie.ttf);

}

@font-face  {

font-family:rema ;
src:url(../fonts/rema.ttf);

}

@font-face  {

font-family:soul ;
src:url(../fonts/soul.ttf);

}

@font-face  {

font-family:xack ;
src:url(../fonts/xack.ttf);

}